{% extends "base.html" %}
{% block cuerpo %}
>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Editar Materia</h2>
        <div class="card">
            <div class="card-body">
              <form action="/editarMateria/" method="POST">{% csrf_token %}
              <div class="form-group">
                <input type="text" id="txtcodigo" name="txtcodigo" class="form-control" value="{{mismaterias.codigo}}" minlenght="1" maxlenght="6" readonly required>
              </div>
                <div class="form-group py-3">
                  <input type="text" id="txtnombre" name="txtnombre" class="form-control" value="{{mismaterias.nombre}}" maxlenght="100" required>
                </div>
                <div class="form-group">
                  <input type="text" id="numcreditos" name="numcreditos" class="form-control" minlenght="1" maxlenght="9" value="{{mismaterias.creditos}}" required>
                </div>
                <div class="form-group py-3">
                  <button type="submit" class="btn btn-dark">Guardar materia</button>
                </div>
              </form>
            </div>
          </div>
    </div>
</div>
{% endblock %}